@use '../variables/variables' as *;

button {
    padding: $spacing-sm $spacing-md;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    font-size: 14px;
    font-weight: 500;

    &:hover {
        background-color: $color-secondary;
    }

    &:active {
        background-color: $color-active;
    }

    &:disabled {
        background-color: $color-gray;
    }
}