@use '../variables/variables' as *;

.category-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: $spacing-md;
    background-color: $color-white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: $spacing-md;
    width: 60%;

    h3 {
        margin-bottom: $spacing-sm;
        color: $color-text;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $color-primary;
            }
        }
    }

    .controls {
        display: flex;
        gap: $spacing-sm;
        margin-top: $spacing-md;
    }
}